{{!--

If the user is logged in , and 'GET /user' endpoint is called, you will render this view based on the specs.

--}}

<div id="userView">

<p id="welcome">Welcome {{firstName}} {{lastName}}, the time is now: {{currentTime}} and the current date is {{currentDate}}. Your role in the system is: {{role}}.</p>

<p id="signupDate">The day you signed up was: {{signupDate}}</p>

<p id="lastLogin">The last time you logged in was:  {{lastLogin}}</p>

<p id="quote">Favorite Quote: {{favoriteQuote}}</p>

<!-- link here for super user, ONLY if they have a role of superuser <a id="superUserLink" href="/superuser">Super User Page</a> !-->
{{#if superuser}}
<a id="superUserLink" href="/superuser">Super User Page</a>
{{/if}}
<a id="signoutLink" href="/signout">Sign out</a>

</div>
